.container {
  min-height: 100vh;
  background-color: var(--backgroundColor);
  //   border: 3px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  //   align-items: center;
  .contentContainer {
    // border: 3px solid red;
    width: 80%;
    .navBarParent {
      border-bottom: 2px solid var(--componentColor);
      height: 80px;
      margin-bottom: 10px;
      //   background-color: var(--componentColor);
      width: 100%;
      // border: 2px solid blue;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .buttonContainer {
        height: 100%;
        min-width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        // border: 2px solid purple;
        button {
          background-color: var(--componentColor);
          border: none;
          font-family: "Montserrat";
          height: 60%;
          min-width: inherit;
          color: var(--white);
          font-size: 16px;
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
    .dataContainer {
      // border: 3px solid red;
      -webkit-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
      -moz-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
      box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);

      color: var(--white);
      padding-top: 50px;
      min-height: calc(80vh);
      width: 100%;
      display: flex;
      // border: 2px solid brown;
      background-color: var(--dataContainerBackgroundColor);
      .balanceContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        min-height: 80%;
        // color: red;
        // border: 2px solid red;
        .balanceCard {
          padding-top: 20px;
          background-color: var(--airdropBackgroundColor);
          // border: 2px solid green;
          height: 80%;
          width: 90%;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          //
          .ethBalance {
            -webkit-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            -moz-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            // border: 2px solid green;
            padding: 20px 0;
            width: 80%;
            h2 {
              text-align: center;
              // padding-top: 20px;
              font-weight: bolder;
            }
            .readBalance {
              text-align: center;
              color: var(--componentColor);
              font-weight: bolder;
              font-size: 24px;
              padding-top: 10px;
            }

            .reconnect {
              .buttonContainer {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 2px solid purple;
                padding-top: 20px;
                .claimAirdropButton {
                  background-color: var(--componentColor);
                  border: none;
                  font-family: "Montserrat";
                  height: 50px;
                  width: 90%;
                  color: var(--white);
                  font-size: 16px;
                  font-weight: bolder;
                  cursor: pointer;
                  // border-radius: 5px;
                }
              }
              span {
                display: block;
                margin-top: 30px;
                padding: 0 20px;
                // text-align: center;
                // border: 3px solid red;
              }
            }
          }
          .claimBalance {
            -webkit-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            -moz-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            // border: 2px solid green;
            padding: 20px 0;
            width: 80%;
            // flex: 1;
            padding: 20px 0;
            margin-top: 50px;

            h2 {
              text-align: center;
              // padding-top: 20px;
              font-weight: bolder;
            }
            .readBonusBalance {
              text-align: center;
              color: var(--componentColor);
              font-weight: bolder;
              font-size: 24px;
              padding-top: 10px;
            }
            .buttonContainer {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              // border: 2px solid purple;
              padding-top: 20px;
              .claimAirdropButton {
                background-color: var(--componentColor);
                border: none;
                font-family: "Montserrat";
                height: 50px;
                width: 90%;
                color: var(--white);
                font-size: 16px;
                font-weight: bolder;
                cursor: pointer;
                // border-radius: 5px;
              }
            }
            span {
              display: block;
              margin-top: 30px;
            }
          }
        }
      }
      .transferContainer {
        background-color: var(--airdropBackgroundColor);
        width: 60%;
        // border: 3px solid red;
        min-height: 100%;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        align-items: center;
        .contentContainer {
          width: 80%;
          border-radius: 10px;
          min-height: 80%;
          // border: 3px solid red;
          display: flex;
          flex-direction: column;
          .refreshButton {
            // border: 3px solid red;
            min-height: inherit;
            // width: inherit;
            padding: 10px 0;
            // border: 3px solid red;
            flex: 0.5;
            margin-bottom: 30px;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            -moz-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            .miniContentContainer {
              width: 95%;
              height: 98%;
              // border: 2px solid green;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              // align-items: center;
              div {
                width: 50%;
                // border: 2px solid red;
              }
              .buttonContainer {
                width: 40%;
                // border: 2px solid red;
                .claimAirdropButton {
                  background-color: var(--componentColor);
                  border: none;
                  font-family: "Montserrat";
                  height: 50px;
                  width: 100%;
                  color: var(--white);
                  font-size: 16px;
                  font-weight: bolder;
                  cursor: pointer;
                  // border-radius: 5px;
                }
              }
            }
          }
          .noToken {
            // border: 2px solid green;
            flex: 3;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            -moz-box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            box-shadow: 0px 0px 5px 2px rgba(183, 81, 126, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
              color: var(--componentColor);
            }
          }
        }
      }
    }
    .footerContainer {
      border-top: 2px solid var(--componentColor);
      height: 50px;
      // margin-top: 30px;
      width: 100%;

      // border: 3px solid red;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    .contentContainer {
      // border: 3px solid red;
      width: 100%;
      .dataContainer {
        padding-top: 0;
        // border: 3px solid red;
        flex-direction: column;
        .balanceContainer {
          max-width: 100%;
          margin-bottom: 20px;
          // border: 2px solid green;
          padding-bottom: 30px;
          .balanceCard {
            width: 100%;
            .ethBalance {
              h2 {
                text-align: center;
                font-size: 20px;
              }
              .readBalance {
                font-size: 14px;
              }
              .reconnect {
                .buttonContainer {
                  // border: 2px solid purple;
                  padding-top: 20px;
                  .claimAirdropButton {
                    font-size: 14px;
                    height: 40px;
                  }
                }
                span {
                  font-size: 14px;
                }
              }
            }
            .claimBalance {
              h2 {
                // border: 2px solid red;
                font-size: 20px;
              }
              .readBonusBalance {
                font-size: 14px;
              }
              .buttonContainer {
                .claimAirdropButton {
                  font-size: 14px;
                  height: 40px;
                }
              }
            }
          }
        }
        .transferContainer {
          padding: 30px 0;
          // border: 3px solid red;
          background-color: var(--airdropBackgroundColor);
          width: 100%;
          min-height: 300px;
          border-radius: 10px;
          .contentContainer {
            .refreshButton {
              // border: 2px solid red;
              min-height: 100px;
              flex-direction: column;
              font-size: 14px;
              .miniContentContainer {
                flex-direction: column;
                // border: 2px solid blue;
                div {
                  width: 100%;
                }
                .buttonContainer {
                  margin-top: 20px;
                  width: 100%;
                  .claimAirdropButton {
                    font-size: 14px;
                    height: 40px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
